<aside>
	<div class="panel radius">
		<h3>Media & Outreach</h3>
                <p> This page contains an incomplete selection of my science outreach and any media appearances that have featured me.</p>

                <p> I am an experienced public speaker, science communicator and expert in astronomy. I've appeared on radio stations and podcasts talking about my research and various topics in astronomy and astrophysics. I've also given many guided 3D tours of the Universe and public science lectures at Swinburne University of Technology.</p>

                <p> I have experience communicating the wonders of science to people of all ages and levels of knowledge. If you are interested in having me visit your school or community group, please feel free to <a href="/contact/">contact me</a> </p>

                <p> I have received media training with the Australian science communication and public relations organisation <a href="https://www.scienceinpublic.com.au/">scienceinpublic</a>.</p>
	</div>

        <!---<img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">-->


	<div class="b30">
		<img src="/images/outreach_mbo_photo.jpg" alt="">
        </div>
</aside>
