<aside>
	<div class="panel radius">
		<h3>Tutorials</h3>
		<p> A collection of computing tutorials that I have written to help other students and researchers.

                Main topics include:
                <ul>
                    <li>Python</li>
                    <li>Supercomputing</li>
                    <li>Plotting</li>
                </ul>

                I have written more tutorials for the Centre for Astrophysics and Supercomputings regular coding group meetings (Cookies 'n' Code). These and other tutorials can be found on the 
                <a href="https://github.com/swincas/cookies-n-code">Cookies 'n' Code Github</a>. 
		</p>
	</div>

  <!--<img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
        </div>-->
</aside>
