<!-- <nav class="sidebar-nav">
  {% for item in site.data.navigation %}
<div class="card mb-3 border-light">
 
  <a href="{{item.link}}" class="sidebar-nav-item{% if item.link==page.url %} active{% endif %}"> {{item.name}}</a> 
  {% endfor %}
</nav>
-->
{% assign author = site.authors | where: {{ include.author }} %}

<div class="card d-inline-flex flex-row border-light">
  <div class="row no-gutters">
    <div class="d-inline-flex">
    <center>
      <img src="{{ author.image }}" class="card-img roundsmall" alt="...">
     </center>
    </div>
    <div class=" d-flex flex-row">
      <div class="card-body">
	 <p><a href="{{ author.homepage }}"><h3 class="card-title">{{ author.name }}</h3></a></p>
	 <p> <small>{{ author.title }}</small> </p>
        <p class="card-text flex-col">
	{% if author.github %}
        {% include buttons.html button_name="Github" button_class="dark" url=author.github %}
	{% endif %}

	{% if author.twitter %}
        {% include buttons.html button_name="Twitter" button_class="info" url=author.twitter %}
	{% endif %}
	
	{% if author.linkedin %}
        {% include buttons.html button_name="LinkedIn" button_class="primary" url=author.linkedin %}
	{% endif %}
	
	{% if author.orcid %}
        {% include buttons.html button_name="ORCID" button_class="success" url=author.orcid %}
	{% endif %}
       </p>
	</div>
      </div>
    </div>
  </div>
