<!doctype html>
<html lang="en">

  {% include head.html %}
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <body>

  {% include navbar.html %}

<div class="container">

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
          <p class="card-text">{{content}}</p>

      </div>
    </div>
  </div>
  <div class="col mb-4">
      <div class="card border-light bg-light">
        <img src="/assets/images/avatar.jpg" class="img-avatar" alt="A portrait of Adam at Swinburne University of Technology.">
      </div>
    </div>
  </div>
</div>




<div class="container">
<div class="card my-auto">
  <div class="card-body">
    <h5 class="card-title text-center">Contact Me</h5>

    <p> Email: abatten[at]swin.edu.au</p>
 
    <p>Address: Mail Number H29, PO Box 218, Hawthorn, VIC 3122, Australia </p>

    <p class="card-text">Additionally, you can also find me at all of these places:</p>
    {% include buttons.html button_name="Github" button_class="dark" url="https://github.com/abatten/" %}
    {% include buttons.html button_name="Twitter" button_class="info" url="https://twitter.com/adamjbatten/" %}
    {% include buttons.html button_name="ORCID" button_class="success" url="https://orcid.org/0000-0001-7599-6488" %}
    {% include buttons.html button_name="LinkedIn" button_class="primary" url="https://linkedin.com/in/adamjbatten" %}

  </div>
</div>
</div>


 <footer class="footer">

	<div class="container">
	<div class="my-auto">
	  
	</div>
	</div>

</footer>

      
    </div>

    {% if site.ga_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www:wq
       .google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.ga_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
  </body>
</html>

