---
layout: default2
---

  <div class="tutorial-page shadow-lg py-4 px-4 rounded border-secondary text-secondary">
    
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date text-center"><small> {{ page.date | date_to_string }}, {{ page.author }} </small></time>
    <h1 class="page-title text-center">{{ page.title }}</h1>
    <br>
    <h5 class="page-title text-center">{{ page.subtitle }}</h5>
    <br>
    <time class="post-date text-center"><small>Last Updated: {{ page.lastupdated | date_to_string }}</small></time>

    {{ content }}
    <br>
  </div>


